{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "root": true,
  "ignorePatterns": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "es2022": true,
    "jest": true,
    "browser": false
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect",
      "pragma": "React",
      "fragment" : "Fragment",
      "createClass": "createReactClass"
    },
    "propWrapperFunctions": [],
    "componentWrapperFunctions": [],
    "formComponents": [],
    "linkComponents": []
  },
  "rules": {},
  "overrides": []
}
